.App-header {
    background-color: $cyan;
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1;
}

.Header__content {
    width: 100vw;
    max-width: 1100px;
    display: flex;
    align-items: center;  
}

.Hand-tapping {
    color: $white;
    margin-left: 15px;
    margin-right: 26px;
    transform: rotate(200deg);

    @media all and (min-width: 768px) {
        margin-right: 86px;
    }
}

.Menu {
    font-size: 10px;
    width: 600px;
    display: flex;
    justify-content: flex-end;

    @media all and (min-width: 400px) {
       font-size: 14px;
    }
}

a {
    text-decoration: none;
}

.Show-songs__link, .Show-albums__link {
    color: $dim-grey;
    margin-right: 10px;
    @media all and (min-width: 400px) {
        margin-right: 25px;
    }
}

.Show-songs__link.is-active, .Show-albums__link.is-active {
    color: $white;
}

.Favourites-counter__container {
    color: $white;
    margin-left: auto;
    position: relative;
}

.Header__heart {
    padding-right: 24px;

    @media all and (min-width: 768px) {
        padding-right: 44px;
    }
}

.Favourites__counter {
    position: absolute;
    right: 18px;
    top: -8px;
    background-color:$grey;
    color: $white;
    border-radius: 30px;
    padding-top: 2px;
    font-size: 10px;
    width: 15px;
    height: 14px;
    text-align: center;
    
    @media all and (min-width: 768px) {
        right: 38px;
    }
}

