.Song__item {
    position: relative;
    width: 250px;
    height: 320px;
    background-color: $white;
    margin: 10px;
    list-style: none;
    border: solid 1px #D3D3D3;
    border-radius: 0 0 5px 5px;
  
    @media all and (min-width: 768px) {
        width: 230px;
        height: 360px;
    }
}

.Song__sleeve {
    width: 250px;
    height: 132px;

    @media all and (min-width: 768px) {
        width: 230px;
        height: 160px;
    }
}

.Card__info {
    display: flex;
    flex-direction: column;
    width: 220px;
}

.Favourites__heart {
    border: none;
    outline: none;
    background: none;
    color: $cyan;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.Song__title {
    padding-left: 10px;
    font-size: 14px;
    
    @media all and (min-width: 768px) {
        font-size: 16px;
    }
}

.Song__album {
    padding-left: 10px;
    font-size: 12px;

    @media all and (min-width: 768px) {
        font-size: 13px;
    }
}

