.Favourite {
    color: $cyan;
}

.Song__item {
    width: 288px;
    background-color: $white;
    display: flex;
    flex-direction: column;
    margin: 10px;

    @media all and (mon-width: 768px) {
    height: 250px;
    width: 190px;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
}
}

.Song__sleeve {
    width: 288px;
    height: 112px;

    @media all and (min-width: 768px) {
        width: 190px;
    }
}

.Favourites__heart {
    border: none;
    outline: none;
    background: none;
    align-self: flex-end;
    color: $cyan;
}

.Song__title {
    padding-left: 10px;
    font-size: 18px;
}

.Song__album {
    padding-left: 10px;
    font-size: 14px;


}

