@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import 'settings';
@import 'song-card';
@import 'header';
@import 'ion-searchbar';
@import 'songs-list';
@import 'song-card';
@import 'albums-list';
